@font-face {
    font-family: 'Broadly'; /* Custom name for your font */
    src: url('/Broadley-Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
$primary-color: #3d482a;  // Earthy Stone Gray
$secondary-color: #8a7d53; // Warm Olive Green
$tertiary-color: #c51f1f; // Pomegranate 
$accent-color: #ff0000;   // Rustic Terracotta
$highlight-color: #f80101; // Adriatic blue
$background-color: #F5E7DA; // Soft Linen Beige
$dark-green: #2F4F2F; // Deep Forest Green

$title-font: 'Broadly', serif;
//$primary-font: 'Lato', sans-serif;
//$secondary-font: 'Raleway', sans-serif; 
